
<div class="panel panel-info">
<div class="panel-heading panel-page-header">
   <h1> Enovia: {{name}}</h1>
</div>
<div class="panel-body no-padding">
<div class="row">
    <div class="col-md-4">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             Select Type...
             <span class="caret"></span>
         </button>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                         <li><a>Finished Product Part</a></li>
                         <li><a>Formula Card</a></li>
                         <li><a>Raw Material</a></li>
                         <li><a>Formulation</a></li>
                 </ul>
    </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for GCAS...">
                 <span class="input-group-btn">
                     <button class="btn btn-default" type="button">Go!</button>
                 </span>
       </div><!-- /input-group -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select Revision...
                    <span class="caret"></span>
                </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a>001</a></li>
                    <li><a>002</a></li>
                    <li><a>003</a></li>
                    <li><a>004</a></li>
             </ul>
        </div>
    </div>
</div>
</div><!-- /.row -->

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">GCAS Match Table</div>

  <!-- Table -->
  <table class="table">
    <thead>
            <tr>
                <th>GCAS CODE</th>
                <th>Plant</th>
                <th>Supplier Code</th>
            </tr>
    </thead>
    <tbody>
        <tr>
            <td>81570967</td>
            <td>KOLON LIFE SCIENCE INC</td>
            <td>15280173</td>
        </tr>
        <tr>
            <td>80225866</td>
            <td>INTERNATIONAL FLAVOURS AND FRAGRANCES</td>
            <td>15302406</td>
        </tr>
        <tr>
            <td>80200554</td>
            <td>BARTELS DRUCK GMBH</td>
            <td>15303336</td>
        </tr>
  </table>
</div>